<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block styles %}{% endblock styles %}
    <style type="text/css">
        .content-img{
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    </style>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block head_extra %} {% endblock head_extra %}
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">网站简介</h4>
              <p class="text-muted">
                  这是一个基于django, jQuery和Bootstrap建立的网站，主要用于展示一些个人作品。<br/>
                  未登录用户只能进行浏览，登陆用户可以进行评论。<br/>
                  如果想在该网站上发表文章，请联系Peco。
              </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">在更多地方关注我</h4>
              <ul class="list-unstyled">
                <li class="text-white"><a href="http://blog.csdn.net/zjuPeco">我的CSDN主页：</a>记录着一些平时的知识积累</li>
                <li class="text-white"><a href="https://tianchi.aliyun.com/science/scientistDetail.htm?spm=5176.100153.0.0.74f31e77M6EPAk&userId=1095279145911">我的天池</a>：热衷于打比赛，以后会参加更多的赛事~</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="{% url 'posts:post_list' %}" class="navbar-brand d-flex align-items-center">
              <i class="fa fa-home fa-lg"></i><strong>首页</strong>
          </a>
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
              {% if not request.user.is_authenticated %}
                  <li class="nav-item text-white">
                      <strong><a href="{% url 'accounts:register' %}">注册</a></strong>
                  </li>
                  <li class="nav-item text-white">
                      <strong><a href="{% url 'accounts:login' %}"> | 登陆</a></strong>
                  </li>
              {% else %}
                  <li class="nav-item text-white">
                      <strong>{{ request.user.username }} | {% if request.user.is_staff or request.user.is_superuser %}<a href="{% url 'posts:post_create' %}">新建文章</a> | {% endif %}<a href="{% url 'accounts:logout' %}">注销</a></strong>
                  </li>
              {% endif %}
          </ul>>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    {% if messages %}
        <div class="messages">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block content %}

    {% endblock content%}

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">返回顶端</a>
        </p>
        <p>联系我：</p>
        <p>
            我的邮箱地址：zjupeco@gmail.com | zjupeco@qq.com<br/>
            我的QQ：409226624
        </p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.12/marked.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".content-markdown").each(function () {
                var content = $(this).text();
                var contentMarked = marked(content);
                $(this).html(contentMarked);
            });

            $(".post-detail-item img").each(function () {
                // $(this).addClass("carousel-inner img-responsive img-rounded");
                $(this).addClass("content-img");
            });

        });
    </script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>