{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="blog-post">
        <blockquote class="blockquote">
            <p class="mb-0">{{ comment.content }}</p>
            <footer class="blockquote-footer">
                {{ comment.user }} | {{ comment.timestamp|timesince }}之前 {% if comment.children.count > 0 %}| {{ comment.children.count }}条回复{% endif %}
                {% if request.user == comment.user %} | <a href="{{ comment.get_delete_url }}">删除</a>{% endif %}
            </footer>
            <hr/>
            <div class="comment-reply">
                {% for child_comment in comment.children %}
                    <blockquote class="blockquote comment-border">
                        <p class="mb-0">{{ child_comment.content }}</p>
                        <footer class="blockquote-footer">
                            {{ child_comment.user }} | {{ child_comment.timestamp|timesince }}之前
                            {% if request.user == comment.user %} | <a href="{{ child_comment.get_delete_url }}">删除</a>{% endif %}
                        </footer>
                    </blockquote>
                {% endfor %}

                <form method="POST" action=".">{% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}"/>
                    <input type="submit" value="回复" class="btn btn-default"/>
                </form>
            </div>
        </blockquote>
    </div>
</div>
{% endblock content %}