{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Peco的个人博客网站</h1>
      <p class="lead text-muted">这是一个兴趣使然的个人博客网站。<br/>
          这里陈列着一些Peco兴趣使然而作的项目介绍。<br/>
          Peco的兴趣就是接触新的技术，并用新的技术改善旧的事物~</p>
      <p>
        <a href="{% url "posts:personal_statement" %}" class="btn btn-primary my-2">个人简介</a>
        <a href="https://github.com/zjuPeco" class="btn btn-secondary my-2"><i class="fa fa-github"></i> github主页</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <form method="GET" action="" class="row">
          <div class="input-group col-sm-4">
              <input class="form-control" type="text" name="q" placeholder="搜索文章" value="{{ request.GET.q }}"/>
              <div class="input-group-append">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </div>
          </div>
      </form>

      <br/>

      <div class="row">

          {% for obj in object_list.object_list %}

          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                {% if obj.image %}
                    <img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                  <p class="card-text">
                      {{ obj.title }}{% if obj.draft %} <span style="color:red;">(Draft)</span>{% endif %}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{{ obj.get_absolute_url }}'">查看</button>
                      {% if obj.github_url %}
                          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('{{ obj.github_url }}', '_blank')"><i class="fa fa-github"></i> 源代码</button>
                      {% endif %}

                      {% if request.user == obj.user %}
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{{ obj.get_edit_url }}'">编辑</button>
                      {% endif %}
                    </div>
                    <small class="text-muted text-right">
                        作者：{{ obj.user }}<br/>
                        更新于{{ obj.updated|date }}
                    </small>
                  </div>
                </div>
              </div>
          </div>

          {% endfor %}

      </div>

      <div class="row">
          <div class="pagination mx-auto">
              <ul class="pagination">
                  {% if object_list.has_previous %}
                      <li class="page-item"><a class="page-link" href="?{{ object_list.previous_page_number.querystring }}">上一页</a></li>
                  {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">上一页</a></li>
                  {% endif %}
                  {% for page in object_list.pages %}
                      {% if page %}
                          {% ifequal page object_list.number %}
                              <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                          {% else %}
                              <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
                          {% endifequal %}
                      {% else %}
                          ...
                      {% endif %}
                  {% endfor %}
                  {% if object_list.has_next %}
                      <li class="page-item"><a class="page-link" href="?{{ object_list.next_page_number.querystring }}">下一页</a></li>
                  {% else %}
                      <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
    </div>
  </div>

</main>
{% endblock content %}