{% extends "base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="blog-post">

        <h2 class="blog-post-title">{{ instance.title }}</h2>
        <p class="blog-post-meta">{{ instance.timestamp }} by <a href="#">Peco</a></p>
        <p>摘要</p>
        <hr>
        <p>
        {{ instance.content|linebreaks }}
        </p>
    </div>
</div>
{% endblock content %}