{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="blog-post">

        <h2 class="blog-post-title">{{ instance.title }}</h2>
        {% if instance.draft %} <span style="color:red;"> Draft </span>{% endif %}
        <p class="blog-post-meta">{{ instance.publish }} by <a href="#">{{ instance.user }}</a>
        {% if instance.github_url %}
            |
            <a href="{{ instance.github_url }}" target="_blank">
                <span class="badge badge-secondary"><i class="fa fa-github"></i> 源代码</span>
            </a>
        {% endif %}
        {% if instance.user == request.user %}
            |
            <a href="{% url 'posts:post_update' instance.id%}">
                <span class="badge badge-primary">编辑</span>
            </a>
            |
            <a href="{% url 'posts:post_delete' instance.id%}">
                <span class="badge badge-danger">删除</span>
            </a>
        {% endif %}
        </p>
        <p><strong>摘要</strong>: {{ instance.abstract }}</p>
        <hr>
        <div class="post-detail-item content-markdown">{{ instance.get_markdown }}</div>
        <hr/>
        <div>
            <p class="lead">评论</p>
            {% if request.user.is_authenticated %}
                <form method="POST" action=".">{% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type="submit" value="发表评论" class="btn btn-default"/>
                </form>
            {% else %}
                <p><a href="{% url 'accounts:login' %}">登陆</a>后可评论</p>
            {% endif %}
            <hr/>
            {% if instance.comments %}
                {% for comment in instance.comments %}
                    <blockquote class="blockquote comment-border">
                        <p class="mb-0">{{ comment.content }}</p>
                        <footer class="blockquote-footer">
                            {{ comment.user }} | {{ comment.timestamp|timesince }}之前
                            {% if comment.children.count > 0 %} | {{ comment.children.count }}条回复{% endif %}
                             | <a href={{ comment.get_absolute_url }}> 查看</a>
                             | <a href="#" class="comment-reply-btn"> 回复 </a>
                        </footer>
                        <div class="comment-reply" style="display: none">
                            {% for child_comment in comment.children %}
                                <blockquote class="blockquote comment-border">
                                    <p class="mb-0">{{ child_comment.content }}</p>
                                    <footer class="blockquote-footer">
                                        {{ child_comment.user }} | {{ child_comment.timestamp|timesince }}之前
                                    </footer>
                                </blockquote>
                            {% endfor %}

                            {% if request.user.is_authenticated %}
                                <form method="POST" action=".">{% csrf_token %}
                                    {{ comment_form|crispy }}
                                    <input type="hidden" name="parent_id" value="{{ comment.id }}"/>
                                    <input type="submit" value="回复" class="btn btn-default"/>
                                </form>
                            {% else %}
                                <p><a href="{% url 'accounts:login' %}">登陆</a>后可评论</p>
                            {% endif %}
                        </div>
                    </blockquote>
                    <hr/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".comment-reply-btn").click(function (event) {
            event.preventDefault();
            console.log($(this).parent().next(".comment-reply"));
            $(this).parent().next(".comment-reply").fadeToggle();
        });


    });
</script>
{% endblock scripts %}